<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<<device-width>>, initial-scale=1.0">
    <title>TWilson59's Appliance info page</title>
</head>
<body>
    <h1>Appliance infomation page</h1>
    <h2>Made with django</h2>
    <table align="center">
        <thead>
            <tr>
                <th>Appliance name</th>
                <th>Needs Electric</th>
                <th>Needs Gas</th>
                <th>Needs Water</th>
                <th>Room</th>
                <th>Manufacturer</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
    {% for appliance in appliances %}
            <tr>
                <td>{{ appliance.applianceName }}</td>

                <td>{% if appliance.applianceNeedsElectric %}
                    Yes
                {% else %}
                    No
                {% endif %}</td>

                <td>{% if appliance.applianceNeedsGas %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</td>

                <td>{% if appliance.applianceNeedsWater %}
                        Yes
                    {% else %}
                        No
                    {% endif %}</td>

                <td>{{ appliance.applianceRoom }}</td>
                <td>{{ appliance.applianceManufacturer.manufacturerName }}</td>
                <td>{{ appliance.applianceManufacturer.manufacturerCountry }}</td>
            </tr>    

    {% endfor %}
    </tbody>
    </table>

</body>
</html>